eklogin.xinetd
ekrb5-telnet.xinetd
ekshell.pamd
gssftp.pamd
gssftp.xinetd
klogin.xinetd
krb5-appl-1.0.3.tar.gz
krb5-appl-1.0.3.tar.gz.asc
krb5-appl-1.0-manpaths.txt
krb5-telnet.xinetd
krlogin
krsh
kshell.pamd
kshell.xinetd
